{% extends "base.html" %}

{% block mainContent %}

<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">Today's Agenda</h3>
            <ul>
                <li>
                    Django Directory Structure
                </li>
                <li>
                    Django Control Flow
                </li>
                <li>
                    Looping Constructs
                </li>
                <li>
                    Condition Constructs
                </li>
                <li>
                    Template Inheritance
                </li>
                <li>
                    CodeSpot UI Walk-Through <a target="_blank" href="http://bit.ly/codespotpec">Let's Go</a>
                </li>
            </ul>
    </div>
</div>

{% endblock mainContent %}