{% extends "base.html" %}

{% block mainContent %}

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Hello Coders Forum!</h5>
        Here we will discuss about looping constructs in Django.
    </div>
</div>

{% endblock mainContent %}




















{% comment %} {% for content in cardContent %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ content.0 }}</h5>
        {{ content.1 }}
    </div>
</div>
{% endfor %} {% endcomment %}
